@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .show-account-popup {
    @apply invisible opacity-0 transition duration-500 cursor-default;
  }

  .show-account:hover .show-account-popup {
    @apply visible opacity-100;
  }

  .show-language-popup {
    @apply invisible opacity-0 transition duration-500 cursor-default;
  }

  .show-language:hover .show-language-popup {
    @apply visible opacity-100;
  }

  .button-orange {
    @apply bg-gradient-to-b from-[#f8e3ad] to-[#EEBA37] border border-[#b0820f] rounded;
  }

  .menu-sidebar h3 {
    @apply font-bold text-sm md:text-base px-8 py-3;
  }

  .menu-sidebar ul > li {
    @apply text-sm md:text-base flex items-center px-8 py-2.5 md:py-3 hover:bg-gray-200 cursor-pointer;
  }

  .menu-sidebar ul > li svg {
    @apply h-5 ml-auto text-gray-500 stroke-[3];
  }

  .link-footer ul {
    @apply text-slate-200 text-xs space-y-2;
  }

  .link-footer h5 {
    @apply font-semibold text-white mb-3;
  }

  .link-footer ul > li {
    @apply hover:underline;
  }

  .footer-link-services li {
    @apply w-24 hover:underline text-slate-300 text-xs;
  }

  .footer-link-services li p {
    @apply text-[#999];
  }

  .error-input input {
    @apply bg-red-300 placeholder:text-gray-800 border-gray-500;
  }
  .error-input label svg {
    @apply text-red-500;
  }

  /* Admin Dashboard Css */

  .show {
    @apply hidden;
  }

  .opened {
    @apply w-[280px];
  }

  .opened .show {
    @apply flex;
  }

  .error-input-admin span {
    @apply bg-red-400;
  }
  .error-input-admin input {
    @apply border-red-400;
  }

  .btn-edit-post {
    @apply absolute  top-[35%] left-[15%] flex mt-2 space-x-2;
  }

  .btn-edit-post button {
    @apply flex w-10 h-10 rounded-full cursor-pointer transition bg-white items-center justify-center shadow;
  }
  .btn-edit-post button:hover {
    @apply scale-110 shadow-md rotate-12  ease-in-out;
  }

  .products-swiper .swiper-button-next,
  .products-swiper .swiper-button-prev {
    @apply bg-white w-9 h-9 rounded-full text-slate-800 shadow-md;
  }
  .products-swiper .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply scale-50;
  }

  .products-swiper_home .swiper-button-next,
  .products-swiper_home .swiper-button-prev {
    @apply transition-all top-[40%]  opacity-70 hover:opacity-100  bg-white w-8 h-8 md:w-14 md:h-14 rounded-full text-slate-600 shadow-md;
  }
  .products-swiper_home .swiper-button-prev {
    @apply left-0;
  }
  .products-swiper_home .swiper-button-next {
    @apply right-0;
  }
  .products-swiper_home .swiper-button-next::after,
  .swiper-button-prev::after {
    @apply scale-[40%] md:scale-[70%];
  }

  .move {
    @apply transition-all duration-150  text-xs -translate-y-2;
  }
  .table_order {
    @apply w-full mt-4 border border-slate-300;
  }
  .table_order > thead {
    @apply border border-slate-300;
  }
  .table_order > thead > tr > td {
    @apply p-2 bg-slate-300 border border-slate-300;
  }
  .table_order > tbody > tr > td {
    @apply p-2 bg-slate-100 border border-slate-300 text-center;
  }

  .dropdown_sortby {
    @apply relative flex items-center;
  }
  .dropdown_sortby > ul {
    @apply z-20 absolute top-10 right-0 px-4 bg-white rounded border shadow w-64 h-[170px] transition-all duration-500 overflow-y-auto;
  }
  .dropdown_sortby > ul > li {
    @apply py-2 hover:font-semibold cursor-pointer;
  }
  .dropdown_sortby > button {
    @apply py-2 px-3 rounded border border-slate-300;
  }
  .tooltip_btn {
    @apply relative  w-[30px] h-[30px] cursor-pointer;
  }
  .tooltip_btn > span {
    @apply absolute left-[2px] bottom-0 bg-red-400 w-[27px] hover:bg-red-600;
  }
}

.product-cart-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* #app {
    height: 100%;
} */

/* .swiper {
    width: 100%;
    height: 100%;
} */

:root {
	--transition: 0.25s;
	--spark: 1.8s;
}


.ask-ai {
	--cut: 0.1em;
	--active: 0;
	--bg:
		radial-gradient(
			40% 50% at center 100%,
			hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
			transparent
		),
		radial-gradient(
			80% 100% at center 120%,
			hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
			transparent
		),
		hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
	background: var(--bg);
	font-size: 14px;
	font-weight: 500;
	border: 0;
	cursor: pointer;
	padding: 0.9em 1.3em;
	display: flex;
	align-items: center;
	gap: 0.25em;
	white-space: nowrap;
	border-radius: 100px;
	position: relative;
	box-shadow:
		0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) hsl(260 97% 61% / 0.75),
		0 0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
		0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
	transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
	scale: calc(1 + (var(--active) * 0.1));
}

.ask-ai:active {
  scale: 1;
}

svg {
	overflow: visible !important;
}

.sparkle path {
	color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
	transform-box: fill-box;
	transform-origin: center;
	fill: currentColor;
	stroke: currentColor;
	animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
	animation-duration: 0.6s;
	transition: color var(--transition);
}

.ask-ai:is(:hover, :focus-visible) path {
	animation-name: bounce;
}

@keyframes bounce {
	35%, 65% {
		scale: var(--scale);
	}
}
.sparkle path:nth-of-type(1) {
	--scale: 0.5;
	--delay: 0.1;
	--base: 40%;
}

.sparkle path:nth-of-type(2) {
	--scale: 1.5;
	--delay: 0.2;
	--base: 20%;
}

.sparkle path:nth-of-type(3) {
	--scale: 2.5;
	--delay: 0.35;
	--base: 30%;
}

.ask-ai:before {
	content: "";
	position: absolute;
	inset: -0.25em;
	z-index: -1;
	border: 0.25em solid hsl(260 97% 50% / 0.5);
	border-radius: 100px;
	opacity: var(--active, 0);
	transition: opacity var(--transition);
}

.spark {
	position: absolute;
	inset: 0;
	border-radius: 100px;
	rotate: 0deg;
	overflow: hidden;
	mask: linear-gradient(white, transparent 50%);
	animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
	to {
		rotate: 360deg;
	}
}

.spark:before {
	content: "";
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 0%;
	left: 50%;
	z-index: -1;
	translate: -50% -15%;
	rotate: 0;
	transform: rotate(-90deg);
	opacity: calc((var(--active)) + 0.4);
	background: conic-gradient(
		from 0deg,
		transparent 0 340deg,
		white 360deg
	);
	transition: opacity var(--transition);
	animation: rotate var(--spark) linear infinite both;
}

.spark:after {
	content: "";
	position: absolute;
	inset: var(--cut);
	border-radius: 100px;
}

.backdrop {
	position: absolute;
	inset: var(--cut);
	background: var(--bg);
	border-radius: 100px;
	transition: background var(--transition);
}

@keyframes rotate {
	to {
		transform: rotate(90deg);
	}
}




.ask-ai:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
	--active: 1;
	--play-state: running;
}

.bodydrop {
	background: hsl(
		260
		calc(var(--active) * 97%)
		6%
	);
	position: fixed;
	inset: 0;
	z-index: -1
}



.ask-ai:is(:hover, :focus-visible) {
	--active: 1;
	--play-state: runnin;
}


.sparkle-button {
	position: relative;
}

.particle-pen {
	position: absolute;
	width: 200%;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	-webkit-mask: radial-gradient(white, transparent 65%);
	z-index: -1;
	opacity: var(--active, 0);
	transition: opacity var(--transition);
}

.particle {
	fill: white;
	width: calc(var(--size, 0.25) * 1rem);
	aspect-ratio: 1;
	position: absolute;
	top: calc(var(--y) * 1%);
	left: calc(var(--x) * 1%);
	opacity: var(--alpha, 1);
	animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
	transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
	z-index: -1;
	animation-play-state: var(--play-state, paused);
}

.particle path {
	fill: hsl(0 0% 90%);
	stroke: none;
}

.particle:nth-of-type(even) {
	animation-direction: reverse;
}

@keyframes float-out {
	to {
		rotate: 360deg;
	}
}

.text {
	translate: 2% -6%;
	letter-spacing: 0.01ch;
	background: linear-gradient(90deg, hsl(0 0% calc((var(--active) * 100%) + 65%)), hsl(0 0% calc((var(--active) * 100%) + 26%)));
	-webkit-background-clip: text;
  background-clip: text;
	color: transparent;
	transition: background var(--transition);
}

.ask-ai svg {
	inline-size: 1.25em;
	translate: -25% -5%;
}